.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  padding: 10px;
  background-color: #f1f1f1;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex: 1;
  height: calc(100% - 60px); /* Adjust this value to match the height of your chat-header */
}

.user-list {
  width: 25%;
  padding: 10px;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  overflow-y: auto;
}

.list-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.user-item {
  padding: 5px;
  cursor: pointer;
}

.user-item:hover {
  background-color: #ddd;
}

.mfa-button {
  margin-top: 20px;
}

.conversation-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.conversation-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.conversation-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
}

.conversation-input {
  display: flex;
}

.conversation-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
}

.conversation-input button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
  cursor: pointer;
}

.conversation-input button:hover {
  background-color: #45a049;
}

.my-message {
  text-align: right;
}

.their-message {
  text-align: left;
}
